@import "src/config/styles/Variables.styles";

.card{
  max-width: $maxSize;
  min-width: $minSize;
  overflow:auto;
  border: 2px solid $bodyBackgroundColor;
  border-radius:8px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  font-family: $mainFont;

  .card-body{
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.layout-body{
  min-height: calc(100vh - 120px);
}
.light{
  overflow: hidden;
}